.cru-recommendations-component {
  font-family: Source Sans Pro, Sans-Serif;
  font-weight: bold;
  color: #383f43;
  width: 100%;
}
.cru-recommendations-component a,
.cru-recommendations-component a:active,
.cru-recommendations-component a:visited {
  color: #383f43;
  text-decoration: none;
}
.cru-recommendations-component h1,
.cru-recommendations-component h2,
.cru-recommendations-component h3 {
  margin: 0;
}
.cru-recommendations-component .cru-recommendations-component-header {
  font-size: 24px;
  margin-bottom: 32px;
}
.cru-recommendations-component .cru-recommendations-component-header::before {
  content: '';
  display: block;
  width: 38px;
  height: 2px;
  background: #ffcf07;
  margin-bottom: 15px;
}
.cru-recommendations-component .cru-recommendations-component-card {
  display: block;
  margin-bottom: 24px;
}
.cru-recommendations-component .cru-recommendations-component-image {
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 12px;
}
.cru-recommendations-component .cru-recommendations-component-category {
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffcf07;
}
.cru-recommendations-component .cru-recommendations-component-title {
  font-size: 18px;
}
.cru-recommendations-component
  .cru-recommendations-component-card:hover
  .cru-recommendations-component-title {
  color: #5a5a5a;
}

@media (min-width: 350px) and (max-width: 991px) {
  .cru-recommendations-component .cru-recommendations-component-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 12px;
  }
}
